@import ../config

.main-page
  .banner
    .wrapper
      .text-part
        padding-top: 54px

  .content
    padding: 185px 0 198px

    .wrapper
      display: flex

      .meta-info
        min-height: 64px
        padding-left: 80px
        margin-bottom: 23px
        background-repeat: no-repeat

        .title
          padding: 17px 0 9px

        .button-inverse
          margin: 8px 0 0

        &.hand-logo
          background-image: url("../images/dist/icons/hand.svg")

        &.eye-logo
          background-image: url("../images/dist/icons/eye.svg")

        &.faq-logo
          background-image: url("../images/dist/icons/help.svg")

        &.book-logo
          background-image: url("../images/dist/icons/book.svg")

      .left
        width: 50%

        .slider-wrapper
          height: 320px
          width: 100%
          max-width: 540px
          position: relative

          .slider
            width: 100%
            height: 100%

          .slider-item
            width: 100%
            height: 100%

            img, .overlay
              position: absolute
              width: 100%
              height: 100%

            img
              object-fit: cover
              z-index: -2

            .overlay
              background: linear-gradient(135.86deg, #333333 22.19%, rgba(51, 51, 51, 0) 106.88%)
              z-index: -1

            .title
              color: $white

            .description
              color: $white

          .slider-content
            width: 100%
            height: 100%
            padding: 40px
            display: flex
            flex-direction: column
            align-items: baseline
            justify-content: center

            .description
              padding: 15px 0

            .button
              width: 100%
              max-width: 273px
              text-align: center
              background-position: 70% calc(90% - 12px)

          .slider-control
            position: absolute
            top: calc(50% - 22.5px)
            z-index: 3
            height: 45px
            width: 45px
            border-radius: 50%
            background-color: $white
            box-shadow: 0 4px 12px rgba(35, 68, 60, 0.15)
            cursor: pointer

            &.prev, &.next
              &:after
                content: ''
                position: absolute
                top: calc(50% - 5.25px)
                left: calc(50% - 3px)
                width: 6px
                height: 10.5px
                background-image: url("../images/dist/icons/arrow-right-green.svg")

            &.prev
              left: - 22.5px
              transform: rotate(180deg)

            &.next
              right: - 22.5px

      .right
        width: 50%
        padding: 0 10px

    .promo-image
      position: absolute
      bottom: -55px
      left: 24%
      z-index: 1


.about-page
  .page-title
    padding-top: 50px

  .content
    padding: 156px 0 110px

    &:after
      content: ''
      position: absolute
      bottom: 0
      display: block
      width: 100%
      height: 80px
      background-image: url(../images/dist/about-page-bottom-content.svg)
      background-position: bottom
      background-color: #fff

    .hero-section
      img
        width: 100%

    .text-section
      margin: 44px auto
      width: 100%
      max-width: 780px

      p
        margin: 15px 0 24px

        &:last-of-type
          margin-bottom: 30px

      h3
        font-size: 21px
        margin-bottom: 13px

      .cv-button
        margin: 4px 0 0
        padding-left: 25px
        padding-right: 50px

  .statistics
    display: flex
    justify-content: space-between
    min-height: 310px
    padding-top: 60px

    .item
      display: flex
      flex-direction: column
      padding-right: 25px
      padding-bottom: 25px

      &:last-of-type
        padding-right: 0

      .number
        font-size: 60px
        line-height: 50px
        font-weight: 700
        color: $primary-1

      .info
        font-size: $fontsize
        color: $black-3
        font-weight: 700
        text-transform: uppercase
        padding-top: 20px
        max-width: 225px


.events-page
  .banner
    .text-part
      width: 55%

    .image-part
      width: 38%

      img
        margin: 15px auto 0

  .content
    margin-top: -70px
    padding-top: 70px

    .wrapper
      padding-bottom: 75px

      .events-wrapper
        padding: 60px 0 38px
        position: relative
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-column-gap: 20px
        grid-row-gap: 20px

        .event-item
          height: 320px
          width: 100%
          border-radius: 40%
          position: relative

          img, .overlay
            position: absolute
            width: 100%
            height: 100%
            border-radius: 5px

          img
            object-fit: cover
            z-index: 1

          .overlay
            background: linear-gradient(135.86deg, #333333 22.19%, rgba(51, 51, 51, 0) 106.88%)
            z-index: 2

          .title
            color: $white

          .description
            color: $white

        .event-content
          width: 100%
          height: 100%
          padding: 40px
          display: flex
          flex-direction: column
          align-items: baseline
          justify-content: center
          z-index: 3
          position: relative

          .description
            padding: 15px 0

          .button
            width: 100%
            max-width: 273px
            text-align: center
            background-position: 70% calc(90% - 12px)


.articles-page
  .banner
    .text-part
      width: 55%

    .image-part
      width: 30%

  .content
    margin-top: -85px
    padding-top: 85px
    background-image: url("../images/dist/articles-page-content.png")
    background-position: 100% 0
    background-color: $white

    .wrapper
      padding-bottom: 65px

      .articles-wrapper
        padding: 56px 0 176px
        position: relative
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-column-gap: 20px
        grid-row-gap: 170px

        .article-item
          width: 100%
          border-radius: 5px
          position: relative

          .overlay
            &:before
              content: ''
              position: absolute
              top: calc(50% - 30px)
              left: calc(50% - 30px)
              background-image: url("../images/dist/icons/external-link.svg")
              background-color: $primary-1
              background-repeat: no-repeat
              background-position: 50%
              border-radius: 50%
              width: 60px
              height: 60px
            display: none

          &:hover
            .overlay
              display: block
              content: ''
              position: absolute
              left: 0
              top: 0
              width: 100%
              height: 200px
              background-color: rgba(0, 0, 0, 0.5)
              z-index: 1
              border-radius: 5px

          a
            text-decoration: none

            img
              width: 100%
              height: 200px
              object-fit: cover
              border-radius: 5px
              position: relative

            .title
              display: block
              font-size: 18px
              font-weight: 700
              color: $black-2
              text-decoration: none
              padding: 11px 0


.videos-page
  .banner
    .text-part
      width: 55%

    .image-part
      width: 30%

  .content
    margin-top: -85px
    padding-top: 85px
    background-image: url("../images/dist/videos-page-content.png")
    background-position: 100% 0
    background-color: $white

    .wrapper
      padding-bottom: 90px

      .videos-wrapper
        padding: 56px 0 142px
        position: relative
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-column-gap: 20px
        grid-row-gap: 151px

        .video-item
          width: 100%
          border-radius: 5px
          position: relative

          .overlay
            &:before
              content: ''
              position: absolute
              top: calc(50% - 30px)
              left: calc(50% - 30px)
              background-image: url("../images/dist/icons/youtube-hover-icon.svg")
              background-color: $primary-1
              background-repeat: no-repeat
              background-position: 50%
              border-radius: 50%
              width: 60px
              height: 60px
            display: none

          &:hover
            .overlay
              display: block
              content: ''
              position: absolute
              left: 0
              top: 0
              width: 100%
              height: 200px
              background-color: rgba(0, 0, 0, 0.5)
              z-index: 1
              border-radius: 5px

          a
            text-decoration: none

            img
              width: 100%
              height: 200px
              object-fit: cover
              border-radius: 5px
              position: relative

            .title
              display: block
              font-size: 18px
              font-weight: 700
              color: $black-2
              text-decoration: none
              padding: 11px 0


.faq-page
  .banner
    .wrapper
      .text-part
        width: 55%

      .image-part
        width: 30%

        img
          margin: 0 0 -100px

  .content
    padding: 103px 0 77px

    .text-section
      text-align: center
      margin: 44px auto
      width: 100%
      max-width: 780px

      p
        margin: 15px 0 24px

        &:last-of-type
          margin-bottom: 15px

      h3
        font-size: 21px
        margin-bottom: 13px

      .faq-button
        margin: 4px 0 0
        padding-left: 25px
        padding-right: 50px


.atlas-page
  .banner
    .wrapper
      .text-part
        width: 55%

      .image-part
        width: 30%

        img
          margin: 0 0 -60px

  .content
    margin-top: -25px
    padding: 115px 0 77px

    .letter-list
      ul
        margin: 0
        padding: 0
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap

        li
          margin-right: 10px
          a
            text-decoration: none
            font-weight: 700
            font-size: 24px
            color: $black-2

            &.current, &:hover
              color: $primary-1

    .letter-blocks
      margin: 48px auto

      .letter-block
        background: #f6f6f6
        width: 100%
        height: fit-content
        max-width: 380px
        padding-bottom: 20px
        border-radius: 5px

        .letter
          background: $white
          text-decoration: none
          font-weight: 700
          font-size: 32px
          color: $black-2
          padding: 48px 40px 38px

        .words
          background: $white
          padding-bottom: 20px

          span
            line-height: 21.5px
            font-size: 14px
            padding: 0 40px 15px
            display: block

    .button.show-more
      display: block
      margin: 0 auto
      padding: 9px 60px 9px 45px


.full-event-page
  .banner
    height: 400px
    margin: 50px 0 0
    padding: 0

    & > img
      position: absolute
      width: 100%
      height: 400px
      object-fit: cover

    .wrapper
      height: 100%
      flex-direction: column
      justify-content: center

      .image-part
        z-index: 1
        width: 320px
        height: 150px
        border-radius: 5px
        margin: 0
        padding: 33px
        background: $white

  .content.section-1
    margin: 0
    padding: 23px 0 0

    .wrapper
      display: flex
      justify-content: space-between

      .description
        width: 100%
        max-width: 680px
        margin-right: 20px

        .main-text
          padding: 20px 0 0

          p
            margin: 0 0 25px

        .details-container
          margin-top: 28px

          details
            border-bottom: 1px solid $black-4

            &[open]
              border: none

              summary
                &:after
                  transform: rotate(360deg)

            summary
              cursor: pointer
              height: 64px
              width: 100%
              position: relative
              display: flex
              align-items: center
              list-style: none
              font-size: 18px
              font-weight: 700
              line-height: 22px
              padding: 20px 0
              outline: none
              color: $black-2

              &::-webkit-details-marker
                display: none

              &:after
                content: ""
                position: absolute
                width: 24px
                height: 24px
                right: 0
                transform: rotate(180deg)
                background: url("../images/dist/icons/arrow-down.svg")

            .detail
              ul
                margin: 0
                padding: 0
                list-style-type: none

                li
                  position: relative
                  padding-left: 30px
                  margin-bottom: 20px

                  &:before
                    content: ''
                    position: absolute
                    left: 2px
                    top: 5px
                    width: 10px
                    height: 10px
                    background: $primary-1
                    border-radius: 50%

      .payment-info
        width: 100%
        max-width: 480px

        .form-registration
          background: #F6F8F6
          padding: 50px
          margin: 55px auto 0
          border-radius: 5px

          .title
            margin: 5px 0 20px
            color: $black-2

          .form-control
            margin-top: 15px

            label
              font-weight: 700
              color: $black-2

              span
                font-weight: 400
                margin-left: 5px

            .form-input
              margin-top: 5px

              input, select
                padding: 13px 10px
                border-radius: 5px
                border: 1px solid $black-4
                line-height: 16px
                color: $black-3
                width: 100%

            &.phone
              .form-input
                display: flex

                select
                  -webkit-appearance: none
                  border-right: none
                  border-top-right-radius: unset
                  border-bottom-right-radius: unset
                  width: fit-content
                  margin-right: 0
                  outline: none

                input
                  -moz-appearance: textfield
                  border-left: none
                  border-top-left-radius: unset
                  border-bottom-left-radius: unset

                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button
                    -webkit-appearance: none
                    margin: 0

          .button
            display: block
            border: none
            width: 100%
            height: 42px
            margin: 15px auto 0
            background-position: calc(50% + 50px) calc(90% - 12px)

        .payment-details
          background: #F6F8F6
          margin: 23px auto 20px
          border-radius: 5px

          .title
            padding: 50px 50px 20px
            color: $black-2

          .price-section
            border-bottom: 1px solid $black-4
            padding-bottom: 30px

            .title
              font-size: 16px
              font-weight: 600
              display: block
              padding: 0 50px
              margin: 10px 0

            .price
              display: flex
              flex-wrap: wrap
              margin: 0 auto
              width: calc(100% - 100px)
              height: 100px
              background: $white
              border-radius: 5px

              .left
                width: 50%
                border-right: 1px solid $black-4
                display: flex
                justify-content: center
                align-items: center
                font-size: 32px
                font-weight: 700
                color: $primary-1

              .right
                width: 50%
                display: flex
                flex-direction: column

                & > *
                  height: 50%
                  display: flex
                  align-items: center
                  justify-content: center
                  border-bottom: 1px solid $black-4

                  &:last-child
                    border: none

          .payment-detail-section
            .title
              font-size: 16px
              font-weight: 600
              display: block
              padding: 30px 50px 5px

            table
              background: $white
              border-radius: 5px
              margin: 0 auto
              width: calc(100% - 100px)
              color: $black-2

              tr
                height: 35px

                td
                  padding: 0 15px

            .paypal-button, .apple-pay-button
              display: flex
              align-items: center
              justify-content: center
              height: 42px
              width: calc(100% - 100px)
              border-radius: 5px
              text-transform: uppercase
              text-decoration: none
              font-weight: 600

              img
                margin-left: 7px

            .paypal-button
              background: #FFC237
              color: #333333
              margin: 20px auto 0

            .apple-pay-button
              background: #333333
              color: $white
              margin: 10px auto 0

  .content.section-2
    margin-top: -35px
    padding-top: 150px

    .title-section
      display: flex
      align-items: center
      justify-content: space-between
      padding: 10px 0
      position: relative

      .title
        color: $black-2
        font-size: 32px

      .button
        &.mobile
          display: none
        color: $primary-1

      .logo
        position: absolute
        top: -225px
        right: 24%
        width: 152px
        height: 180px

    .events-wrapper
      padding-top: 25px

      .title
        font-size: 21px


.full-event-page-2
  .content.section-1
    .wrapper
      .description
        width: 100%
        max-width: 735px

      .payment-info
        width: 100%
        max-width: 402px

        .payment-details
          margin: 55px auto 20px
          padding-bottom: 50px

          .title
            text-align: center
            font-size: 18px

          .price
            display: flex
            flex-wrap: wrap
            margin: 0 auto
            width: calc(100% - 60px)
            height: 100px
            background: $white
            border-radius: 5px

            .top
              height: 59px
              width: 100%
              border-bottom: 1px solid $black-4
              display: flex
              justify-content: center
              align-items: center
              font-size: 32px
              font-weight: 700
              color: $primary-1

            .bottom
              height: 40px
              width: 100%
              display: flex

              & > *
                width: 50%
                display: flex
                align-items: center
                justify-content: center
                border-right: 1px solid $black-4

                &:last-child
                  border: none

          .button
            display: block
            margin: 20px auto 0
            width: calc(100% - 60px)
            background-image: none
            text-align: center
            border-radius: 5px

            &.register-button
              margin: 15px 0 0 30px
              width: fit-content
              min-width: 156px
              padding: 8px
              color: $primary-1
              text-transform: uppercase
              border: 1px solid #BCCABC


@media (max-width: 840px)
  .main-page
    .content
      padding: 85px 0 80px

      .wrapper
        flex-direction: column

        .left, .right
          width: 100%

        .left
          .slider-wrapper
            margin: 0 auto 15px

      .promo-image
        left: unset
        right: 15px
        bottom: -50px
        width: 170px


  .about-page
    .page-title
      padding-top: 20px

    .content
      padding: 135px 0 70px

      .hero-section
        img
          height: 260px
          object-fit: cover
          border-top-left-radius: 110px 100px
          border-bottom-right-radius: 110px 100px

      .text-section
        margin-top: 30px

    .statistics
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 120px)
      grid-column-gap: 40px
      grid-row-gap: 100px
      padding-top: 80px
      padding-bottom: 150px

      .item
        padding: 0

@media (max-width: 767px)
  .main-page
    .banner
      .wrapper
        .text-part
          text-align: center
          padding-top: 16px

          .sub-title
            padding: 3px 0 0

          .button
            margin-top: 20px !important

        .image-part
          margin: 30px 0 0 !important
          justify-content: center !important

          img
            width: 60% !important

    .content
      padding-top: 106px
      margin-top: -60px

      .wrapper
        .left
          .meta-info
            margin-bottom: 10px

          .slider-wrapper
            width: 95%


  .about-page
    .page-title
      padding-top: 10px

    .content
      padding: 105px 0 70px

      .hero-section
        img
          height: 210px

      .text-section
        margin-top: 15px


  .events-page
    .banner
      .wrapper
        .image-part
          img
            margin: -25px 10px 0
            width: 38%

    .content
      padding-top: 60px
      margin-top: -125px

      .wrapper
        padding-bottom: 65px

        .events-wrapper
          padding: 60px 0 20px !important
          grid-template-columns: repeat(1, 1fr) !important

          .event-item
            height: auto !important


  .articles-page
    .banner
      .wrapper
        .image-part
          img
            margin: -25px 0 0

    .content
      padding-top: 95px
      margin-top: -155px

      .wrapper
        padding-bottom: 75px

        .articles-wrapper
          padding-bottom: 147px !important
          grid-template-columns: repeat(1, 1fr) !important
          grid-row-gap: 93px !important

          .article-item
            height: auto !important


  .atlas-page
    .letter-list
      ul
        justify-content: center!important

  .videos-page
    .banner
      .wrapper
        .image-part
          img
            margin: -25px 0 0

    .content
      padding-top: 60px
      margin-top: -125px

      .wrapper
        padding-bottom: 75px

        .videos-wrapper
          padding-bottom: 147px !important
          grid-template-columns: repeat(1, 1fr) !important
          grid-row-gap: 115px !important

          .video-item
            height: auto !important


  .faq-page
    .content
      padding: 70px 0

      .text-section
        margin: 30px auto 0

        h3
          font-size: 18px

  .full-event-page
    .banner
      margin: 20px 0 0
      height: 250px

      & > img
        height: 250px

      .wrapper
        justify-content: flex-end

        .image-part
          width: 50% !important
          height: 85px
          padding: 0
          margin: 0 0 15px

          img
            width: 100%
            margin: 15px 0

    .content.section-1
      padding: 30px 0 0

      .wrapper
        flex-direction: column
        padding-bottom: 30px

        .description
          margin: 0

          .main-text
            padding: 15px 0 0

        .payment-info
          .form-registration
            padding: 20px
            margin-top: 30px

            .title
              margin: 12px 0 14px
              font-size: 21px
              text-align: center

          .payment-details
            margin: 23px auto 20px

            .title
              padding: 20px 20px 10px
              font-size: 19px
              text-align: center

            .price-section
              padding-bottom: 15px

              .title
                margin: 8px 0
                padding-left: 20px
                text-align: left

              .price
                width: calc(100% - 40px)

                .left
                  font-size: 23px

            .payment-detail-section
              .title
                font-size: 14px
                margin: 8px 0 0
                padding: 10px 20px
                text-align: left

              table
                width: calc(100% - 40px)

              .paypal-button, .apple-pay-button
                width: 100%
                max-width: 300px

    .content.section-2
      padding-top: 120px
      margin-top: -40px

      .title-section
        .title
          font-size: 18px
          width: 80%

        .button
          &.desktop
            display: none

          &.mobile
            display: block

        .logo
          display: none

      .events-wrapper
        padding-top: 0 !important

@media (max-width: 440px)
  .about-page
    .statistics
      grid-column-gap: 30px
      grid-row-gap: 55px
      padding-bottom: 90px

      .item
        .number
          font-size: 42px

        .info
          padding-top: 10px
          font-size: 14px
          line-height: 18px